<body>
    <section>
        <h1 class="giantTitle">Calculator</h1>
        <div class="screen">
            <p id="op">0</p>
        </div>
        <div class="textCenter" style="width: 300px; display: flex;
        flex-wrap: wrap;">
            <button onclick="writeNum('7')">7</button>
            <button onclick="writeNum('8')">8</button>
            <button onclick="writeNum('9')">9</button>
            <button onclick="activateOp('÷')">÷</button>
            <button onclick="writeNum('4')">4</button>
            <button onclick="writeNum('5')">5</button>
            <button onclick="writeNum('6')">6</button>
            <button onclick="activateOp('x')">x</button>
            <button onclick="writeNum('1')">1</button>
            <button onclick="writeNum('2')">2</button>
            <button onclick="writeNum('3')">3</button>
            <button onclick="activateOp('-')">-</button>
            <button style="width: 140px;" onclick="writeNum('0')">0</button>
            <button onclick="clearAll()">AC</button>
            <button onclick="activateOp('+')">+</button>
            <button style="width: 280px;" onclick="makeOp()">=</button>
        </div>
    </section>
    <footer>
        @SpardaProgram
    </footer>
    <script src="script.js"></script>
</body>