body {
    background-color: #f5f293;
}

h1 {
    text-align: center;
    font: 20px Arial black;
    background-color: white;
    width: max-content;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.giantTitle {
    font-size: 30px;
}

section {
    border-radius: 10px;
    margin: auto;
    width: 300px;
    border: 2px solid black;
    padding: 5px;
    background-color: rgb(255, 96, 96);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}

footer {
    text-align: center;
}

button {
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

div {
    justify-content: center;
    margin: auto;
    width: 50%;
    padding-bottom: 5px;
}

.textCenter {
    text-align: center;
}

.screen {
    width: 280px;
    height: 50px;
    font-size: 30px;
    text-align: right;
    background-color: rgb(173, 173, 173);
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 10px;
}

p {
    text-align: right;
    margin: 0;
    padding: 10px 5px;
}